/* Large View Styles */
@media (min-width: 769px) {
  header {
    padding: 1rem 2rem;
  }

  h2 {
    text-align: center;
  }

  header h1,
  header span {
    font-size: 2rem;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 2rem;
  }

  .view-toggle {
    margin: 2rem 0;
  }

  .grid-view .member-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-view .member-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .list-view .member-card img {
    max-width: 100px;
    margin-right: 1rem;
  }

  /* Index */
  .hero img {
    max-width: 768px;
    margin: 0 auto;
    display: block;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
  }

  .weather-card {
    margin-top: 0;
  }

  /* Form and cards */
  .join-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    max-width: 1200px;
    margin: 2rem auto;
    border: 2px solid #706e6e;
  }

  .membership-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Medal Animations */
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  .visit-message {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: auto;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.card-image {
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  transition: all 0.3s ease;
}

.card-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.card-image figcaption {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  transition: all 0.3s ease;
}

.place-card:hover .card-image img {
  transform: scale(1.05);
}

.place-card:hover .card-image figcaption {
  bottom: 0;
}
}

/* Medium Screens (641px to 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .place-card {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "image content";
  }
}

/* Large Screens (1025px and above) */
@media (min-width: 1025px) {
  .places-container {
      grid-template-columns: repeat(2, 1fr);
  }
  
  .place-card {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "image content";
  }

  .card-dialog {
    width: 70%;
    max-width: 1000px;
  }
  
  .dialog-content {
      max-width: 60%;
      padding: 3rem;
  }
}