/* Normalize CSS */
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ul, li, img, button {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  button:focus {
    outline: none;
  }