/* Global and base Styles */
body {
    font-family: "Nanum Gothic", serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0077b6;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
header span {
    font-family: "Nanum Gothic", serif;
    font-size: 1.5rem;
    color: white;
}

/* Navigation */
nav {
    background: #333;
    padding: 0.2rem 0;
}
nav button {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.2rem;
    margin: 0 auto;
}
nav ul {
    display: none;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
}
nav ul.active {
    display: flex;
}
nav li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
nav a:hover, nav a.active {
    background: #7ff17f;
    color: #333;
}

/* Main Content */
main {
    padding: 1rem;
}
h1 {
    font-size: 2rem;
    color: #0077b6;
    text-align: left;
    margin-left: 1rem;
}
.box {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.box ul {
    text-align: left;
    padding-left: 1rem;
}

/* Buttons */
.button-container-1 {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.btn-1 {
    flex: 1;
    background: #00466b;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
}
.btn-1:hover {
    background: #ffcc00;
    color: #333;
}

.button-container-2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-top: 1px solid #333;
    padding-top: 1rem;
    width: 100%;
}
.button-container-2 button {
    width: 100%;
    text-align: center;
}

.btn-2 {
    background: #055c08;
    color: white;
    padding: 0.8rem;
}
.btn-2:hover {
    background: #7ff17f;
    color: #333;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

/* Course cards */
.course-card {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.course-card.completed {
    background: #e0f7fa;
    border-left: 5px solid #0077b6;
}

.course-card h3 {
    color: #0077b6;
}

.course-card p {
    margin: 0.5rem 0;
}

.box.shadow.courses h2 {
    background-color: #0077b6;
    color: white;
    padding: 30px;
    margin-bottom: 15px;
}